body {
  background-image: url(./assets/IMG-20250726-WA0024.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px 10px;
}
.heading{
  font-size: 4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-shadow: 1px 1px 10px hsl(186, 33%, 6%);
}

.Add-task-button{
  font-size: 1rem;
  background:linear-gradient(45deg , rgb(13, 80, 24), rgb(21, 196, 100) );
  color: white;
  border-radius: 5px;
}
.input-task{
  border-radius: 1pc;
  border: solid 1px rgb(133, 128, 128);
  font-size: 1pc;
  background: linear-gradient(10deg, rgb(225, 210, 196), rgb(255, 255, 255));
  padding: 5px;
  width: 40%;
}


li{
  padding: 10px;
  padding-top: 0%;
  padding-bottom: 0%;
  margin: 5px;
  display: flex;
  gap: 15px;
  background: hsl(100, 10%, 100% ,40%);
  border-radius: 10px;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  

}
.task-text{
  flex-grow: 1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 1.2rem;


}